{% load i18n %}{% autoescape off %}
{% block subject %}
{% blocktrans %}Réinitialisation de votre mot de passe - Lunaya{% endblocktrans %}
{% endblock %}
{% block text_body %}
{% blocktrans %}Bonjour,{% endblocktrans %}

{% blocktrans %}Vous avez demandé la réinitialisation de votre mot de passe pour votre compte sur Lunaya.{% endblocktrans %}

{% blocktrans %}Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :{% endblocktrans %}

https://{{ domain }}/accounts/reset/{{ uid }}/{{ token }}/

{% blocktrans %}Si vous n’avez pas demandé cette réinitialisation, ignorez cet e-mail.{% endblocktrans %}

{% blocktrans %}Cordialement,{% endblocktrans %}
{% blocktrans %}L’équipe de Lunaya{% endblocktrans %}
{% endblock %}
{% endautoescape %}