{% extends 'base.html' %}
{% load static %}
{% block title %}E-mail envoyé - Lunaya{% endblock %}
{% block content %}
  <div class="text-center mobile-friendly" style="margin-top: 2rem;">
    <h2>E-mail envoyé <i class="fa fa-envelope"></i></h2>
    <p>Un e-mail avec des instructions pour réinitialiser votre mot de passe a été envoyé. Vérifiez votre boîte de réception.</p>
    <div class="card" style="transition: all 0.3s ease; border-color: #e0c0c0; max-width: 550px; margin: 0 auto;">
      <div class="card-body">
        <p>Si vous ne recevez pas l'e-mail, vérifiez vos spams ou <a href="{% url 'password_reset' %}" style="color: blue; background: none !important; text-decoration: underline;">réessayez</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}