{% extends 'base.html' %}
{% load static %}
{% block title %}Accueil - Lunaya{% endblock %}
{% block content %}
    <div class="container">
        <h2>Bienvenue sur Lunaya 🌙</h2>
        <p>Lunaya est une application pour toutes les femmes, où qu’elles soient, pour célébrer leur énergie féminine à travers un suivi de cycle, des conseils de bien-être, des méditations, un cercle communautaire et un horoscope quotidien.</p>
        <div class="card">
            <p><strong>Découvrez Lunaya :</strong></p>
            <p>Suivez votre cycle menstruel, trouvez des conseils personnalisés pour votre bien-être, détendez-vous avec des méditations guidées, partagez vos expériences dans notre Cercle Lunaire, et laissez-vous inspirer par votre horoscope quotidien. Utilisez la navigation ci-dessous pour explorer toutes nos fonctionnalités.</p>
            <div class="affirmation">“Lunaya, votre compagne pour une vie en harmonie avec votre essence féminine.”</div>
        </div>
    </div>
{% endblock %}