{% extends 'base.html' %}
{% load static %}
{% block title %}Ajouter un Message{% endblock %}
{% block content %}
  <h2>Ajouter un Message <i class="fa fa-pen"></i></h2>
  <p class="text-center mb-4">Partagez vos pensées avec le Cercle Lunaire.</p>
  {% if messages %}
  <div class="messages text-center">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: #d88c9a;">{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <form method="post" action="{% url 'cercle_add' %}" class="form-group text-center">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Publier</button>
  </form>
  <div class="text-center mt-3">
    <a href="{% url 'community' %}" class="btn">Retour au Cercle</a>
  </div>
{% endblock %}